body {
    background-color: rgba(153, 99, 0, 0.432);
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: black underline;
    color: black;
}

a:-moz-focus-inner {
    text-decoration: black underline;
    color: black;
}

a::-moz-focus-outer {
    text-decoration: none;
    color: black;
}
 a:focus {
    text-decoration: black underline;
    color: black;
 }

 img{
      width: 80%;

 }
 
.bimage{
   
    overflow: contain;
}
#two{
    background-color:rgb(179, 153, 11);
}


h1 {
  font-family: monospace;
}
h4 {
  font-weight: 100;
}
.about {
    color: white;
    text-align: center;
    float: center;
    margin-top: 5%;
}
.navigation{
    background-image: url(https://bit.ly/2pcFN0F);
    min-height: 120px;
    min-width: 1024px;
    background-repeat:repeat;
}
.bimage{
    padding-top: 5%;
    text-align: center;
}
.paragraph{
    padding-top: 10%;
}
#us{
    column-count: 2;
    font-size: x-large;
}

