body {
    background-color: rgba(153, 99, 0, 0.432);
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-top: none;
    border-right: none;
    border-width: none;
    border-radius: 0px;
}

img {
    width: 80%;
}

.tour-guide {
    width: 40%;
    height: 100%;
    float: left;
    padding-bottom: 10px;
    padding-right: 2px;
    padding-left: 2px;
}

.dropdown-item {
    padding: 0px;
    width: 400px;
    display: block;
    clear: both;
}

.dropdown-menu {
    background-color: rgb(207, 172, 137);
    padding: 0px;
    padding-top: 5px;
}

.p {
    font-size: 18px;
}

ul {
    font-size: 15px;
}
 
.bimage{
   
    overflow: contain;
}
#two{
    background-color:rgb(179, 153, 11);
}

h4 {
  font-weight: 100;
}
.navigation{
    background-image: url(https://bit.ly/2pcFN0F);
    min-height: 120px;
    min-width: 1024px;
    background-repeat:repeat;
}
.bimage{
    padding-top: 5%;
    text-align: center;
}
.paragraph{
    padding-top: 10%;
}
.button {
    display: inline-block;
    padding: 0.35em;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: all 0.2s;
    background-color: rgb(253, 221, 174);
}

.button:hover {
    color: rgb(255, 236, 208);
    background-color: rgba(0, 0, 0, 0.685);
}
.social{
    width:50px;
}
.social:hover {
    width:100px;
    transition: 0.5s;
}
hr {
    color: rgba(0, 0, 0, 0.425);
}
 
ul{
    font-size: 15px;
}

.p{
    font-size: 18px;
}

#suguta {
    display: none;
  }

  #camp {
    display: none;
  }

  #mara {
    display: none;
  }

  #lake {
    display: none;
  }

  #valley {
    display: none;
  }

  #kenya {
    display: none;
  }
  #sand {
      background-size: cover;
  }

  h3:hover{
      text-decoration: underline;
  }
